@media only screen and (min-width: 769px) {

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

}

@media only screen and (min-width: 361px) and (max-width: 480px){

    .headSide, #headSideId > span {
        font-size:smaller;
    }

    #headSideId {
        width: 69%;
    }
    
    .regForm {
        padding: 20px 0px;
    }
    
    .regForm > label, input {
        font-size: x-large;
    }

    .footer {
        text-align: center;
        font-size: smaller;
        padding-top: 0px;
    }

  }


@media only screen and (max-width: 360px) {

    .headSide, #headSideId > span {
        font-size: xx-small;
    }

    #headSideId {
        width: 69%;
    }
    
    .regForm {
        padding: 20px 0px;
    }
    
    .regForm > label, input {
        font-size: large;
    }

    .footer {
        text-align: center;
        font-size: x-small;
        width: 95%;
        padding-top: 0px;
    }

  }

